/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    width: 100vw;
    height: 100vh;
    background-color: #c4c4c4;
    padding: 30px;
}

/* Container */
.container {
    display: flex;
}

/* Menu Lateral Inicio */
.container .menu--lateral {
    width: 350px;
    height: calc(100vh - 60px);
    padding: 40px 30px;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
/* Menu Lateral Fim */

/* Menu Estoque / Entrada-Saída Inicio / Total Vendas */
.container .menu--lateral .menu--estoque,
.container .menu--lateral .menu--entrada-saida {
    margin-bottom: 50px;
}

.container .menu--lateral .menu--estoque p,
.container .menu--lateral .menu--entrada-saida p,
.container .menu--lateral .menu--total-vendas p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 10px;
}

.container .menu--lateral .menu--estoque a,
.container .menu--lateral .menu--entrada-saida a,
.container .menu--lateral .menu--total-vendas a {
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgba(0, 0, 0, .9);
    width: 100%;
    height: 40px;
    border-radius: 10px;
    position: relative;
}

.container .menu--lateral .menu--estoque .select::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 40px;
    border-radius: 10px;
    background-color: chartreuse;
}

.container .menu--lateral .menu--estoque a #icon-estoque,
.container .menu--lateral .menu--entrada-saida a #icon-entrada,
.container .menu--lateral .menu--entrada-saida a #icon-saida,
.container .menu--lateral .menu--total-vendas a #icon-total {
    margin-right: 10px;
}

.container .menu--lateral .menu--entrada-saida .entrada {
    margin-bottom: 20px;
}
/* Menu Estoque / Entrada-Saída Fim / Total Vendas */

.container .bloco--estoque {
    width: 100%;
    height: calc(100vh - 60px);
    margin-left: 30px;
    border-radius: 10px;
    padding: 30px;
    background-color: #fff;
}

.container .bloco--estoque .title-estoque {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    background-color: #0e570e;
    border-radius: 10px;
}

.container .bloco--estoque .title-estoque span {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}

.container .bloco--estoque .title-estoque p {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
}

.container .bloco--estoque .bar {
    width: 100%;
    height: 5px;
    background-color: #0e570e;
    margin-top: 20px;
    border-radius: 10px;
}

.container .bloco--estoque form {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.container .bloco--estoque form input {
    width: 190px;
    height: 30px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .5);
    outline: none;
    font-size: 15px;
    border-radius: 5px;
}

.container .bloco--estoque form input::placeholder {
    font-family: 'Poppins', sans-serif;
}

.container .bloco--estoque form a {
    display: flex;
    align-items: center;
    height: 30px;
    position: absolute;
    right: 7px;
}

.container .bloco--estoque form #icon-form {
    width: 20px;
    height: 20px;
    color: rgba(0, 0, 0, .5);
}
/*
table {
    width: 100%;
    height: calc(100vh - 320px);
    margin-top: 30px;
    border-radius: 10px;
    background-color: rgb(240, 171, 171);
    display: flex;
    flex-direction: column;
}

table thead tr {
    display: flex;
    justify-content: space-around;
}

table thead tr th {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
*/
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    width: 100vw;
    height: 100vh;
    background-color: #c4c4c4;
    padding: 30px;
}

/* Container */
.container {
    display: flex;
}

/* Menu Lateral Inicio */
.container .menu--lateral {
    width: 350px;
    height: calc(100vh - 60px);
    padding: 40px 30px;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
/* Menu Lateral Fim */

/* Menu Estoque / Entrada-Saída Inicio / Total Vendas */
.container .menu--lateral .menu--estoque,
.container .menu--lateral .menu--entrada-saida {
    margin-bottom: 50px;
}

.container .menu--lateral .menu--estoque p,
.container .menu--lateral .menu--entrada-saida p,
.container .menu--lateral .menu--total-vendas p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 10px;
}

.container .menu--lateral .menu--estoque a,
.container .menu--lateral .menu--entrada-saida a,
.container .menu--lateral .menu--total-vendas a {
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgba(0, 0, 0, .9);
    width: 100%;
    height: 40px;
    border-radius: 10px;
    position: relative;
}

.container .menu--lateral .menu--entrada-saida .select::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 40px;
    border-radius: 10px;
    background-color: chartreuse;
}

.container .menu--lateral .menu--estoque a #icon-estoque,
.container .menu--lateral .menu--entrada-saida a #icon-entrada,
.container .menu--lateral .menu--entrada-saida a #icon-saida,
.container .menu--lateral .menu--total-vendas a #icon-total {
    margin-right: 10px;
}

.container .menu--lateral .menu--entrada-saida .entrada {
    margin-bottom: 20px;
}

/* DADOS ENTRADA */

#entrada {
    background-color: #fff2ec;
    margin-left: 30px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#entrada form {
    background-color: #fabec0;
    width: 300px;
    height: calc(100vh - 190px);
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

#entrada form span,
#entrada form span,
#entrada form span {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-top: 17px;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
    
}

#entrada form input,
#entrada form input,
#entrada form input {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px 20px;
    box-shadow: 1px 1px 21px #d4a16b;
}

#entrada form .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
}

#entrada form button {
    width: 140px;
    height: 35px;
    border-radius: 10px;
    outline: none;
    border: 2px solid #e6b47f;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #d4a16b;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#entrada form button #icon-enviar {
    margin-left: 10px;
}

#entrada form a #icon-limpar {
    width: 35px;
    height: 35px;
    color: #ff0000;
}

/* tabela */
#comport-table {
    margin: 6px 15px 6px 15px;
}

.saida-dados {
    text-align: center;
    background-color: #EBEBEB;
    font-size: 12px;
    border-radius: 10px;
    padding: 15px;
}

.saida-dados th {
    border-bottom: solid 2px rgba(0, 0, 0, 0.219);
    width: 100%;
    padding: 0px 10px 0px 10px;
}

.saida-dados td {
    padding: 6px 0px 6px 0px;
    border-bottom: solid 0.5px #0000001f;
}